{% extends "register/layout.html" %}
{% load crispy_forms_tags %}
{% block title %}Create an Account{% endblock %}
{% block content %}
<h1> Please create your account. </h1>
<form method="POST" class="form-group">
    {% csrf_token %}
    {{ form|crispy }}
<button type = "submit">Register</button>
<p> If you are already registered, you can log in <a href="/login">here.</a>
    <br></br>
    Alternatively, you can return to the main page <a href="/compware" class="Index">here.</a></p></p>
    <br></br>
	<br></br>

	{% if messages %}
		<div class="messages">
			<h3> Welcome to Compware!</h3>
		{% for message in messages %}
			<div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
				{{ message }}
			</div>
		{% endfor %}
		</div>
	{% endif %}
</form>
{% endblock %}